[user]
	email = rishikesh.kumbhar.dev@gmail.com
	name = Rishikesh Kumbhar
[credential "https://git.heroku.com"]
	helper = !heroku git:credentials
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
